body{
  background-color: #F6FCFF;
  background-image: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
.character{
  width: 100%;
  max-width: 364px;
  margin: 0 auto 40px;
}